
.mask {
    position: absolute;
    width: 100%;
    height: 1000%;
    top: 0px;
    left: 0px;
    background-color: #000000;
    opacity: .6;
    z-index: 1;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid gray;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid gray;
}

td.title { 
	cursor: pointer; 
	cursor: hand; 
}

td.addComment { 
	cursor: pointer; 
	cursor: hand; 
}

div#questions-arrow-up.triangle-up { 
	cursor: pointer; 
	cursor: hand; 
}

div#questions-arrow-down.triangle-down { 
	cursor: pointer; 
	cursor: hand; 
}

div#answers-arrow-up.triangle-up { 
	cursor: pointer; 
	cursor: hand; 
}

div#answers-arrow-down.triangle-down { 
	cursor: pointer; 
	cursor: hand; 
}

a.editQuestion:hover {
	text-decoration: underline;
	cursor: pointer; 
	cursor: hand; 
}

a.deleteQuestion:hover {
	text-decoration: underline;
	cursor: pointer; 
	cursor: hand; 
}

a.editAnswer:hover {
	text-decoration: underline;
	cursor: pointer; 
	cursor: hand; 
}

a.deleteAnswer:hover {
	text-decoration: underline;
	cursor: pointer; 
	cursor: hand; 
}

a.editComment:hover {
	text-decoration: underline;
	cursor: pointer; 
	cursor: hand; 
}

a.deleteComment:hover {
	text-decoration: underline;
	cursor: pointer; 
	cursor: hand; 
}

a.addComment:hover {
	text-decoration: underline;
	cursor: pointer; 
	cursor: hand; 
}